<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RealEstate</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
    @* <link rel="stylesheet" href="~/RealEstate.styles.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/EstateOffers/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/reusableClasses.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/EstateOffers/detail.css" asp-append-version="true" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <div class="header-info">
            <div class="email-contact center-content">
                <img src="@Url.Content("~/images/layout/envelope.png")">
                info@realitintense.org
            </div>
            <div class="tel-contact center-content">
                <img src="@Url.Content("~/images/layout/telephone.png")">
                +420 420 696 969
            </div>
        </div>
        @{
            Dictionary<string, bool> navUnderline = new Dictionary<string, bool>(){
        {"Home", false},
        {"Katalog", false},
        {"Kontakt", false}};

            if (this.ViewBag.NavUnderline != null)
                navUnderline[this.ViewBag.NavUnderline] = true;

            // bool userExists = this.ViewBag.User != null;
            User? user = this.ViewBag.User as User;
        }
        <nav>
            <div>
                <div class="logo-container">
                    <a asp-controller="estateOffers" asp-action="index" class="logo-index-link">
                        <img src="@Url.Content("~/images/layout/logo-dark.png")" alt="firm-logo">
                    </a>
                </div>

                <ul class="menu">
                    <li class="@(navUnderline["Home"] ? "nav-item-selected" : "")"><a asp-controller="EstateOffers" asp-action="Index">Home</a></li>
                    <li class="@(navUnderline["Katalog"] ? "nav-item-selected" : "")"><a asp-action="">Katalog</a></li>
                    <li class="@(navUnderline["Kontakt"] ? "nav-item-selected" : "")"><a asp-action="">Kontakt</a></li>
                </ul>
            </div>
            @if (user == null)
            {
                <a asp-controller="Login" asp-action="Index" class="profile-container">
                    <span>Přihlásit se</span>
                </a>
            }
            else
            {
                bool ppExists = File.Exists(Url.Content($"~/images//admins//"));
                <div class="profile-container">

                    <div class="profile-dropdown link-standard profile-container">
                        <a class="dropdown profile-username" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="@Url.Content("~/images/layout/userIcon.png")" alt="userLogo" />@user.Username
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a asp-controller="Login" asp-action="SignUp" asp-route-idUser="@user.Id">Edit Profile</a></li>
                                <li><a asp-controller="Admin" asp-action="Offers">@(user.Type == 'u' ? "Favourite" : "Offers")</a></li>
                        <li><a asp-controller="Admin" asp-action="Messages">Messages</a></li>
                            @if (user.Type == 'a' || user.Type == 'b')
                            {
                                <li><a asp-controller="Admin" asp-action="Users">Users</a></li>
                                <li><a asp-controller="Admin" asp-action="Parameters">Parametres</a></li>
                            }
                            @if (user.Type == 'u')
                            {
                                <li><a asp-controller="Admin" asp-action="Inquiries">Inquiries</a></li>
                            }
                            <li><a asp-controller="Login" asp-action="Logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            }
        </nav>
    </header>

    <div class="flex-column justify-content-between">
        <main role="main">
            @RenderBody()
        </main>
        @if (this.ViewBag.FooterVisible == null)
        {
            <footer class="footer-index">
                <div class="footer-container pb-2">
                    <div class="newsletter-subscription">
                        <h3 class="footer-title">Newsletter</h3>
                        <p class="mb-10">Keep up with the company's drug addicts and nymfs, it's not as easy as it seems</p>
                        <form class="newsletter-form" method="post">
                            <input type="email" class="newsletter-text" placeholder="Zadejte svůj email" required>
                            <button class="btn-orange search-bar-button">Odeslat</button>
                        </form>
                    </div>
                    <div class="useful-links">
                        <h3 class="footer-title">Užitečné odkazy</h3>
                        <ul class="links-list">
                            <li>
                                <a href="./bytyPronajem">Byty pronájem</a>

                            </li>
                            <li class="footer-link-selected"><a href="./bytyProdej">Byty prodej</a></li>
                            <li><a href="/.domyPronajem">Domy pronájem</a></li>
                            <li><a href="./DomyProdej">Domy prodej</a></li>
                        </ul>
                    </div>
                    <div class="news">
                        <h3 class="footer-title">Novinky</h3>
                        <div class="news-item">
                            <span class="footer-grey-text">4.5.2023</span>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores libero sed animi earum aliquid?
                                Saepe unde fugit aut laudantium enim sequi optio, iure quaerat officia nesciunt, cumque nisi
                                magnam odio.
                            </p>
                        </div>
                        <div class="news-item">
                            <span class="footer-grey-text">11.9.2001</span>
                            <p>Few offered flats got destroyed</p>
                        </div>
                    </div>
                </div>
                <div class="center-content">
                    <p class="footer-grey-text">Copyright&copy; and all that jazz</p>
                </div>
            </footer>
        }
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
