@section Scripts {
    <script src="~/js/detail.js"></script>
}

<main class="main-detail">
    <section class="mb-10">
        @{
            Offer offer = (Offer)ViewBag.Offer;
            Image? image = offer.Images!.FirstOrDefault();
            string firstImagePath = image != null ? PathHelper.GetPathToImage("Offers", image.IdOffer.ToString(), image.Id.ToString()) : PathHelper.NotFoundImg;

            <div class="detail-photo">
                <img src="@firstImagePath" alt="detail-image">
            </div>
            <div class="sub-photos">
                @{
                    int loops = Math.Min(offer.Images!.Count - 1, 5);
                    string className;
                }

                @if (offer.Images.Count < 7)
                {
                    @for (int i = 0; i <= loops; i++)
                    {
                        className = i == 0 ? "selected-sub-photo" : "";
                        image = offer.Images[i];
                        string alt = "detailSub_" + i.ToString();

                        <img class="@className" src="@Url.Content($"~/images//offers//{offer.Id}//{image.Id}.png")" alt="@alt">
                    }
                }
                else
                {
                    @for (int i = 0; i < loops; i++)
                    {
                        className = i == 0 ? "selected-sub-photo" : "";
                        image = offer.Images[i];
                        string alt = "detailSub_" + i.ToString();

                        <img class="@className" src="@Url.Content($"~/images//offers//{offer.Id}//{image.Id}.png")" alt="@alt">
                    }

                    image = offer.Images[5];
                    string label = "dalších " + (offer.Images.Count - 6).ToString() + " fotek";
                    <a onclick="viewAllSubPhotos(this)" class="dark-layer-over view-more-sub-photo">
                        <img src="@Url.Content($"~/images//offers//{offer.Id}//{image.Id}.png")" alt="detailSub_6">
                        <label class="next">@label</label>
                    </a>

                    @for (int i = loops+1; i < offer.Images.Count; i++)
                    {
                        image = offer.Images[i];
                        string alt = "detailSub_" + i.ToString();

                        <img class="d-none additional-sub-photo" src="@Url.Content($"~/images//offers//{offer.Id}//{image.Id}.png")" alt="@alt">
                    }
                }
            </div>
        }
    </section>
    <section class="description">
        <div class="main-description">
            <div>
                <h3 class="item-name-detail">
                    @offer.Name
                </h3>
                <div class="text-grey-light fs-14">@offer.Location</div>
            </div>
            <div>
                <h3 class="item-price">
                    @offer.Price.ToString("N0") Kč
                </h3>
                <div class="item-price-description">za nemovitost</div>
            </div>
        </div>
        <div class="flex-row jf-space-between">
            <div class="energy-class">Energetická třída<span>@offer.EnergyClass</span></div>
            <div class="text-align-right tc-orange text-underline fs-14 pointer">
                <span>
                    <img class="mr-5"
                         src="/images/icons/calc.png">spočítat hypotéku
                </span>
            </div>
        </div>
    </section>
    <section class="mb-20">
        <p class="text-grey-light fs-14 mb-20">
            @offer.Description
        </p>
        <div class="detail-parameters">
            @{
                int n = this.ViewBag.offerParameters.Count / 2 + this.ViewBag.offerParameters.Count % 2;
            }

            <table>
                @for (int i = 0; i < n; i++)
                {
                    <tr>
                        <td>
                            @this.ViewBag.offerParameters[i].Key
                        </td>
                        <td>
                            @this.ViewBag.offerParameters[i].Value
                        </td>
                    </tr>
                }
            </table>
            <table>
                @for (int i = n; i < this.ViewBag.offerParameters.Count; i++)
                {
                    <tr>
                        <td>
                            @this.ViewBag.offerParameters[i].Key
                        </td>
                        <td>
                            @this.ViewBag.offerParameters[i].Value
                        </td>
                    </tr>
                }
                @if (this.ViewBag.offerParameters.Count % 2 == 1)
                {
                    <tr>
                        <td>&#8205;</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
    </section>
    <section class="contact">
        <div class="salesman">

            <h3 class="tc-dorange mb-20">Kontaktujte prodejce</h3>
            @if (this.ViewBag.Admin != null)
            {
                Admin admin = (Admin)this.ViewBag.Admin;
                <div class="salesman-info">
                    <div class="salesman-contact mb-10">
                        <img class="height80 img-roung mr-20" src=@PathHelper.GetPathToImage("admins", admin.Id.ToString()) alt="salesman">
                        <div>
                            <div class="salesman-name">@admin.Name @admin.Surname</div>
                            <div class="salesman-email text-underline">
                                <span><img class="mr-5" src="/images/icons/emailName.png" alt="">@admin.Email</span>
                            </div>
                            <div class="salesman-phone text-underline">
                                <span><img class="mr-5" src="/images/icons/telName.png" alt="">@admin.PhoneNumber</span>
                            </div>
                        </div>
                    </div>
                    <div class="salesman-awards">
                        <img class="mr-10" src="/images/icons/Major-Network.png" alt="network-medal">
                        <img src="/images/icons/CCA-full-color-700px.png" alt="cca medal">
                    </div>
                </div>
            }
        </div>
        @model Inquiry
        <form asp-action="SendInquiry" asp-route-idOffer="@offer.Id" class="center">
            <div>
                <h3 class="tc-dorange mb-20">Napište nám, ozveme se</h3>
            </div>
            @{
                Inquiry inquiry = (Inquiry)this.ViewBag.Inquiry ?? new Inquiry();
                bool disabled = this.ViewBag.Inquiry != null;
            }
            <div class="interested-form mb-20">
                <input asp-for="Name" type="text" placeholder="Jméno" value="@inquiry.Name"
                       required disabled="@disabled" />
                <input asp-for="Surname" type="text" placeholder="Přijmení" value="@inquiry.Surname" required disabled="@disabled" />
                <input asp-for="PhoneNumber" type="tel" placeholder="Telefon" value="@inquiry.PhoneNumber" required disabled="@disabled">
                <input asp-for="Email" type="email" placeholder="E-mail"
                       value="@inquiry.Email" required disabled="@disabled">
                <textarea asp-for="AdditionalInformation" class="interested-form-input ta-noresize"
                          placeholder="Napište nám zprávu" disabled="@disabled"></textarea>
            </div>
            <div class="flex-row center">
                <button type="submit" class="btn-orange interested-button" disabled="@disabled">@(disabled ? "Objednávka odeslána" : "Odeslat poptávku")</button>
            </div>
        </form>
    </section>
</main>
