@section Styles {
    <link rel="stylesheet" href="~/css/admin/editOffer.css" />
}

@section Scripts {
    <script src="~/js/admin/editOffer.js"></script>
}
@using RealEstate.Models.ViewModels;
@{
    User user = this.ViewBag.User;
    OfferEdit offer = this.ViewBag.Offer;
    List<User> brokers = this.ViewBag.Brokers;
    List<ParameterView> parameters = this.ViewBag.Parameters;
    List<Image> images = offer.Images;
}
<section>
    @model OfferEdit
    <form asp-action="EditOffer" asp-route-idOffer="@offer.Id">
        <div>
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" name="Name" class="form-control" type="text" required" value="@offer.Name" />
        </div>

        <div>
            <label asp-for="Price" class="form-label"></label>
            <input asp-for="Price" name="Price" class="form-control" type="number" required value="@offer.Price" />
        </div>

        <div>
            <label asp-for="Location" class="form-label"></label>
            <input asp-for="Location" name="Location" class="form-control" type="text" required value="@offer.Location" />
        </div>

        <div>
            <label asp-for="Region" class="form-label"></label>
            <input asp-for="Region" name="Region" class="form-control" type="text" required value="@offer.Region" />
        </div>

        <div>
            <label asp-for="Area" class="form-label"></label>
            <input asp-for="Area" name="Area" class="form-control" type="number" required value="@offer.Area" />
        </div>

        <div>
            @{
                List<KeyValuePair<char, string>> categoryArr = new(4);
                categoryArr.Add(new KeyValuePair<char, string>('f', "Flat"));
                categoryArr.Add(new KeyValuePair<char, string>('l', "Luxury"));
                categoryArr.Add(new KeyValuePair<char, string>('h', "House"));
                categoryArr.Add(new KeyValuePair<char, string>('c', "Cottage"));
            }
            <label asp-for="Category" class="form-label"></label>
            <select asp-for="Category" name="Category" class="form-select" required>
                @foreach (KeyValuePair<char, string> item in categoryArr)
                {
                    <option value="@item.Key" selected="@(item.Key == offer.Category)">@item.Value</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="Description" class="form-label"></label>
            <input asp-for="Description" name="Description" class="form-control" value="@offer.Description" />
        </div>

        <div>
            <label asp-for="ShortDescription" class="form-label"></label>
            <input asp-for="ShortDescription" name="ShortDescription" class="form-control" value="@offer.ShortDescription" />
        </div>
        <div>

            @{
                char[] energyArr = { 'A', 'B', 'C', 'D', 'E', 'F' };
            }
            <label asp-for="EnergyClass" class="form-label"></label>
            <select asp-for="EnergyClass" name="EnergyClass" class="form-select" required>
                <!--Pokud required, nenecha nas zadat moznost s prazdnou value-->
                <option>Choose the energy class</option>
                @foreach (char c in energyArr)
                {
                    <option value="@c" selected="@(c == offer.EnergyClass)">@c</option>
                }
            </select>
        </div>

        <div>
            <label asp-for="IdBroker" class="form-label">Assigned Broker</label>
            <select asp-for="IdBroker" name="IdBroker" class="form-select">
                <!--Pokud required, nenecha nas zadat moznost s prazdnou value-->
                <option selected>Choose broker</option>
                @foreach (User broker in brokers)
                {
                    <option value="@broker.Id" selected="@(broker.Id == offer.IdBroker)">@broker.Username</option>
                }
            </select>
        </div>

        <div class="offer-parameters">
            <table class="table table-striped">
                <th>Parameter</th>
                <th>Value</th>
                <tbody>
                    @for (int i = 0; i < offer.Parameters.Count; i++)
                    {
                        <tr>
                            <td>@offer.Parameters[i].ParameterValue</td>
                            <td>
                                <input type="hidden" name="Parameters[@i].IdParameter" asp-for="Parameters[i].IdParameter" value="@(offer.Parameters[i].IdParameter)" />
                                <input type="text" name="Parameters[@i].Value" asp-for="Parameters[i].Value" value="@(offer.Parameters[i].Value)" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="images">
            <table class="table table-striped">
                <th></th>
                <th>Image</th>
                <tbody>
                    @for (int i = 0; i < images.Count; i++)
                    {
                        <tr>
                            <td class="icon-row">
                                icon
                            </td>
                            <td class="image">
                                <input type="hidden" name="Images[@i].IdImage" asp-for="Images[i].Id" value="@(offer.Images[i].Id)" />
                                <img src="@Url.Content($"~/images//offers//{offer.Id}//{images[i].Id}.png")" />
                            </td>
                            <td class="delete-img">
                                <i class="bi bi-trash"></i>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>


        </div>

        <div class="d-flex buttons">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="reset" class="btn btn-danger">Reset</button>
        </div>
    </form>

</section>