@section Styles {
    <link href="~/css/admin/messages.css" rel="stylesheet" />
}
@using RealEstate.Models.ViewModels;
@{
    List<ChatView> chats = this.ViewBag.Chats;
    int n = chats.Count;
    DateTime currentDate = DateTime.Now;
}
<main>
    <aside>
        @foreach (ChatView chat in chats)
        {
            <div class="aside-container">
                <div class="left-side">
                    <span class="name">
                        @($"{chat.OtherUser.Name} {chat.OtherUser.Surname}")
                    </span>
                    <span class="subject">
                        @(chat.Subject ?? "No subject")
                    </span>
                    <span class="last-message">
                        @(
                      chat.LastMessage != null
                      ? chat.LastMessage.Text.Substring(0, Math.Min(20, chat.LastMessage.Text.Length))
                        : " " )
                        
                    </span>
                </div>

                <div class="right-side">
                    <span>
                        @(chat.LastMessage != null 
                        ? chat.LastMessage.DateTimeSentUtc.GetMessageDateString()
                        : chat.CreatedAt.GetMessageDateString())
                    </span>
                </div>
            </div>
        }
    </aside>
    <section>
        @{
            User user = this.ViewBag.User;
            User otherUser = chats[this.ViewBag.Selected].OtherUser;
            List<Message> messages = this.ViewBag.Messages;
        }

        <div class="chat-header-container">
            <div>@(otherUser.Name + " " + otherUser.Surname)</div>
            <div>@otherUser.Email</div>
        </div>
        <div class="messages-container">
            @foreach(Message message in messages)
            {
                string align = user.Id == message.IdUser ? "d-flex justify-content-start" : "d-flex justify-content-end";
                <div class="@align">
                    <div class="message-container">

                    </div>
                    
                </div>
            }
        </div>
    </section>
</main>