@{
    List<User> users = (List<User>)this.ViewBag.Users;
}
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Type</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Make broker</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User user in users)
                {
                    <tr>
                        <td>
                            @user.Username
                        </td>
                        <td>
                            @user.Type
                        </td>
                        <td>
                            @user.Name
                        </td>
                        <td>
                            @user.Surname
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.PhoneNumber
                        </td>
                        <td>
                            @{
                                if (user.Type == 'u')
                                {
                                    <a asp-controller="Admin" asp-action="ChangeUserType" asp-route-idUser="@user.Id" class="link-standard">Make broker</a>
                                }
                                else if (user.Type == 'b')
                                {
                                    <a asp-controller="Admin" asp-action="ChangeUserType" asp-route-idUser="@user.Id" class="link-standard">Remove broker</a>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>