@{
    List<User> users = (List<User>)this.ViewBag.Users;
}
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Type</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Make broker</th>
                </tr>
            </thead>
            <tbody>
                @foreach(User user in users)
                {
                    <tr>
                        <td>
                            <a asp-controller="EstateOffers" asp-action="Detail" asp-route-id="@user.Id">@user.Username</a>
                        </td>
                        <td>
                            @user.Type
                        </td>
                        <td>
                            @user.Name
                        </td>
                        <td>
                            @user.Surname
                        </td>
                        <td>
                            @user.Email
                        </td>
                        <td>
                            @user.PhoneNumber
                        </td>
                        <td>
                            @{
                                if (user.Type == 'u')
                                {
                                    <button class="btn btn-primary">
                                        <a asp-controller="Admin" asp-action="MakeBroker" asp-route-id="@user.Id">Make broker</a>
                                    </button>
                                }
                                else if (user.Type == 'b')
                                {
                                    <button class="btn btn-danger">
                                        <a asp-controller="Admin" asp-action="MakeUser" asp-route-id="@user.Id">Remove broker</a>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>