@{
    List<User> users = (List<User>)this.ViewBag.Users;
}
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Type</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Make broker</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < users.Count; i++)
                {
                    <tr>
                        <td>
                            <a asp-controller="EstateOffers" asp-action="Detail" asp-route-id="@users[i].Id">@users[i].Username</a>
                        </td>
                        <td>
                            @users[i].Type
                        </td>
                        <td>
                            @users[i].Name
                        </td>
                        <td>
                            @users[i].Surname
                        </td>
                        <td>
                            @users[i].Email
                        </td>
                        <td>
                            @users[i].PhoneNumber
                        </td>
                        <td>
                            @{
                                User user = users[i];

                                if (user.Type == 'u')
                                {
                                    <button class="btn btn-primary">
                                        <a asp-controller="Admin" asp-action="MakeBroker" asp-route-id="@user.Id">Make broker</a>
                                    </button>
                                }
                                else if (user.Type == 'b')
                                {
                                    <button class="btn btn-danger">
                                        <a asp-controller="Admin" asp-action="MakeUser" asp-route-id="@user.Id">Remove broker</a>
                                    </button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>