@{
    User user = this.ViewBag.User;
    List<User> users = (List<User>)this.ViewBag.Users;
}
<div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Type</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Make broker</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User userList in users)
                {
                    <tr>
                        <td>
                            @userList.Username
                        </td>
                        <td>
                            @userList.Type
                        </td>
                        <td>
                            @userList.Name
                        </td>
                        <td>
                            @userList.Surname
                        </td>
                        <td>
                            @userList.Email
                        </td>
                        <td>
                            @userList.PhoneNumber
                        </td>
                        @if(user.Type == 'a')
                        {
                        <td>
                            @{
                                if (userList.Type == 'u')
                                {
                                    <a asp-controller="Admin" asp-action="ChangeUserType" asp-route-idUser="@userList.Id" class="link-underline-hover">Make broker</a>
                                }
                                else if (userList.Type == 'b')
                                {
                                    <a asp-controller="Admin" asp-action="ChangeUserType" asp-route-idUser="@userList.Id" class="link-underline-hover">Remove broker</a>
                                }
                            }
                        </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>   